@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
	--primary-color: #ff6162;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav {
	background: #FFF;
	height: 80px;
	width: 100%;
}
.logo {
	padding: 1em;
}
.checkbtn i {
	color: var(--primary-color);
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: var(--primary-color);
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

/* Section Hero */

.hero {
	padding: 4em 1em 1em 1em ;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	h1 {
		font-weight: 800;
		font-size: 2em;
	}

	p {
		padding-top: 1em;
		font-size: 15px;
		font-weight: 600;
	}
	.btn {
		margin-top: 2em;

		.exp-btn {
			color: white;
			background-color: var(--primary-color);
			border: 3px solid var(--primary-color);
			font-weight: bold;
			border-radius: 5em;
			margin-top: -.2em;
			padding: 5px 15px;
		}
	}
	
}

.cakes {
	padding-top: 10em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	
	p {
		padding-bottom: 1.5em;
		color: var(--primary-color);
		font-size: 20px;
		font-weight: 400;
	}

	h1 {
		padding-bottom: 2em;
	}
}





@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--primary-color);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}